/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin:0;
    margin-bottom: 70px!important;
    /*min-height: 100%;*/
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
.cap-infowindow {
    max-width: 270px;
    max-height: 90px;
    overflow: hidden;
}

.img-infowindow {
    max-width: 170px;
    max-height: 120px;
    display: block;
    margin: 0 auto;
}
.img-material {
    position: absolute;
    display: block;
    max-width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.wrapper {
    width:100%;
    position: relative;
    padding-top: 56%;
}
.overlay-br
{
    position:absolute;
    bottom: 0;
    right: 0;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 0px 15px 0;
}
.pageheader .navbar {
    margin-bottom: 0px!important;
}
.container .text-muted {
    margin: 10px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.bottom-20
{
    margin-bottom: 20px;
}
/*
img.petroglyph_view{
    max-width: 600px;
    max-height: 600px;
    width:100%;
}
*/
h1{
    font-size: 30px;
}

@media(min-width: 1024px) {
    h1{
        font-size: 40px;
    }
}


