table {
    overflow:hidden;
    border:1px solid #14142d;
    width:80%;
    margin:1% auto 0;
    border-radius:5px;
}

th, td {
    padding:15px 20px 15px;
    text-align:center;
}
th {
    padding-top:20px;
    text-shadow: 1px 1px 1px #fff;
    background:#e8eaeb;
}

td {
    border-top:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
}

select{
    margin-left: 20px;
    padding: 10px;
    background:#e8eaeb;
    font-weight:bold;
    border-radius: 6px;
}
select:hover{
    background:white;
    transition: all 0.3s ease-in-out;
}
